<?xml version="1.0"?>
<launch>    
  <include file="$(find gazebo_ros)/launch/empty_world.launch">     
    <arg name="world_name" value="$(find swarm_simulator)/world/arena.world"/>      
  </include>  

  <group ns="swarmbot0">
    <include file="$(find swarm_simulator)/launch/one_swarmRobot.launch">
      <arg name="robot_name" value="swarmbot0"/>
      <arg name="init_pose" value="-x -10 -y -10 -z 0"/>
    </include>
  </group>

  <group ns="swarmbot1">
    <include file="$(find swarm_simulator)/launch/one_swarmRobot.launch">
      <arg name="robot_name" value="swarmbot1"/>
      <arg name="init_pose" value="-x 10 -y 10 -z 0"/>
    </include>
  </group>

  <group ns="swarmbot2">
    <include file="$(find swarm_simulator)/launch/one_swarmRobot.launch">
      <arg name="robot_name" value="swarmbot2"/>
      <arg name="init_pose" value="-x -12 -y -12.5 -z 0"/>
    </include>
  </group>
  
  <group ns="swarmbot3">
    <include file="$(find swarm_simulator)/launch/one_swarmRobot.launch">
      <arg name="robot_name" value="swarmbot3"/>
      <arg name="init_pose" value="-x -12.5 -y -12.5 -z 0"/>
    </include>
  </group>
</launch>