<launch>
 <include file="$(find gazebo_ros)/launch/empty_world.launch">     
    <arg name="world_name" value="$(find swarm_simulator)/world/arena.world"/>      
  </include>  

 
<group ns="swarmbot0">
<include file="$(find swarm_simulator)/launch/include/one_swarmRobot.launch">
<arg name="robot_name" value="swarmbot0"/>
<arg name="init_pose" value="-x -12.0 -y -12.0 -z 0"/>
</include>
</group>

<group ns="swarmbot1">
<include file="$(find swarm_simulator)/launch/include/one_swarmRobot.launch">
<arg name="robot_name" value="swarmbot1"/>
<arg name="init_pose" value="-x -11.5 -y -11.5 -z 0"/>
</include>
</group>

<group ns="swarmbot2">
<include file="$(find swarm_simulator)/launch/include/one_swarmRobot.launch">
<arg name="robot_name" value="swarmbot2"/>
<arg name="init_pose" value="-x -11.0 -y -11.0 -z 0"/>
</include>
</group>

<group ns="swarmbot3">
<include file="$(find swarm_simulator)/launch/include/one_swarmRobot.launch">
<arg name="robot_name" value="swarmbot3"/>
<arg name="init_pose" value="-x -10.5 -y -10.5 -z 0"/>
</include>
</group>

<group ns="swarmbot4">
<include file="$(find swarm_simulator)/launch/include/one_swarmRobot.launch">
<arg name="robot_name" value="swarmbot4"/>
<arg name="init_pose" value="-x -10.0 -y -10.0 -z 0"/>
</include>
</group>

<group ns="swarmbot5">
<include file="$(find swarm_simulator)/launch/include/one_swarmRobot.launch">
<arg name="robot_name" value="swarmbot5"/>
<arg name="init_pose" value="-x -9.5 -y -9.5 -z 0"/>
</include>
</group>

<group ns="swarmbot6">
<include file="$(find swarm_simulator)/launch/include/one_swarmRobot.launch">
<arg name="robot_name" value="swarmbot6"/>
<arg name="init_pose" value="-x -9.0 -y -9.0 -z 0"/>
</include>
</group>

 
    <node pkg="swarm_simulator" type="swarm_simulator_node" name="swarm_simulator_node" respawn="false" /> 
</launch>
